.help-button {
    color: #e5e5e5;
    border: none;
    background-color: inherit !important;
    box-shadow: none !important;
    margin: 0 !important;
    height: inherit;
}

.help-button:hover{
    color: white;
}

.dropdown{
    text-align: right;
    height: 100%;
    background-color: inherit;
}

.dropdown-menu{
    width: 200px;
    margin: 0;
    border: #3d3d3d solid 1px;
    border-top: none;
    border-radius: 0;
    border-bottom-left-radius: 7%;
    border-bottom-right-radius: 7%;
    padding-bottom: 10px;
}

.dropdown-item{
    outline: none !important;
    color: #3d3d3d;
}

.dropdown-item:hover{
    color: inherit;
    background-color: rgba(150,150,150,0.1);
}

.divider{
    background-color: #3d3d3d;
    margin-left: 7%;
    margin-right: 7%;
    border-top-color: #3d3d3d;
}

.material-icons {
    font-size: 30px;
}

.modal-footer{
    justify-content: space-between;
}

.about-us-modal{
    top:10%;
}

.modal-body{
    text-align: center;
    font-size: 15px;
}

img{
    width: 100%;
}

.modal-header{
    height: 35px;
    border-bottom: none;
}

.modal-header >h4{
    font-size: 20px;
}

.modal-footer{
    border-top: none;
}