.blocked-btn, .blocked-btn:hover, .blocked-btn:focus, .blocked-btn:active {
    border: none;
    color: #b7b7b7 !important;;
    background-color: inherit !important;
    box-shadow: none !important;
    margin: 0 !important;
    height: 32px;
    padding: 0;
    float: right;
    position: relative;
    clear: right;
}

.closed-btn, .closed-btn:hover, .closed-btn:focus, .closed-btn:active{
    border: none;
    color: #7d7d7d !important;
    background-color: inherit !important;
    box-shadow: none !important;
    margin: 0 !important;
    height: 32px;
    padding: 0;
    float: right;
    position: relative;
    clear: right;
}


.opened-btn, .opened-btn:hover, .opened-btn:focus, .opened-btn:active {
    color: #397adf !important;
    border: 1px solid #d6d6d6 !important;
    border-radius: 15% 15% 0 0;
    background-color: inherit !important;
    box-shadow: none !important;
    margin: 0 !important;
    height: 32px;
    padding: 0;
    float: right;
    position: relative;
    clear: right;
}

.settings {
    position: relative;
    display: inline;
}

.card {
    text-align: left;
    clear: right;
    position: relative;
    width: inherit;
    border: 1px solid #d6d6d6;
    border-radius: 0 0 0 0;
    top: -1px;
}

.title {
    padding-left: 5px;
    display: inline;
    position: relative;
}

.check-box-btn, .check-box-btn:hover, .check-box-btn:focus, .check-box-btn:active {
    color: #7d7d7d !important;
    border: none;
    background-color: inherit !important;
    box-shadow: none !important;
    margin: 0 !important;
    height: 32px;
    padding: 0;
    position: relative;
    font-size: 24px;
}

i.material-icons.md-dark{
    font-size: 30px;
    color: inherit;
}

.action {
    padding: 5px 50px 5px 50px;
    width: 100%;
}